<IfModule mod_rewrite.c>
DirectoryIndex index.php index.html
RewriteEngine on
#PHP-BOOTSRAP
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond $1 ^(robots\.txt|favicon\.ico)
RewriteRule ^(.*)$ - [L]
# use index.php as front controller ...
RewriteRule ^(.*)$ ./index.php/$1 [L]
</IfModule>